.logo {
    padding: 10px;
}
.logo a {
    display:block;
    width:141px;
    height:50px;
    background:url({COMPILE:__static:/img/logo-new-sprite.png}) no-repeat left top;
    text-decoration: none;
    text-indent: -9999px;
}