.search-filters {
    background-color: #EDF3E5;
}
.search-filters h2 {
    margin: 0px;
    background-color: #668048;
    color: #FFF;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.search-filters h3 {
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.search-filters label {
    font-weight: normal;
    display: inline;
}
.container-padding {
    padding: 10px;
}


.search-filters .refinement-section {
    max-height: 200px;
    overflow: auto;
}

#load-search,
#save-search {
    display: block;
    text-align: center;
    background-color: #C7D5B5;
    color: #000;
    padding: 5px;
    text-decoration:underline;
}

#load-search:hover,
#save-search:hover {
    text-decoration:none;
}

.refinement-divider {
    border-bottom: dotted 1px #BAD09D;
    margin: 10px 0 10px 0;
}

/*
<button class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all">
   <span class="ui-button-text">Button Label</span>
</button> */